<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <ion-list>
   <ion-item *ngFor="let carro of carros" (click)="selecionaCarro(carro)" >
     <h2>R${{carro.nome}}</h2>
     <p>R${{carro.preco}}</p>
   </ion-item>

 </ion-list>
</ion-content>
